<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <p><%=successmsg%></p>
    <p><%=errormsg%></p>
    <h1>Hello, Mr. <%=name %></h1>
</body>
</html>